body{
    background-image: url('https://source.unsplash.com/random/2200x2004');
    /* background-image: url('image2.jpg'); */
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    max-width: 1200px;
}
div{
    text-align: center;
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background: #222;
    border: 3px solid #923;
    margin-top: 80px;
    transition-property: font-size background-color border-radius opacity border;
}
div:hover{
    background: #439;
    border: 10px dotted rgb(130, 122, 175);
    padding: 180px;
    border-radius: 120% 20% 20% 20%;
    font-size: 50px;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}
.div1:hover{
    border-radius: 20% 120% 20% 20%;
}
.div2:hover{
    background: rgb(51, 153, 122);
    border: 10px dashed rgb(29, 75, 48);
    border-radius: 20% 20% 120% 20%;
    opacity: 0.7;
} 
.div3:hover{
    background: rgb(139, 173, 59);
    border: 10px double rgb(131, 163, 17);
    border-radius: 20% 20% 20% 120%;
    opacity: 0.5;
}
.div4:hover{
    background: rgb(160, 105, 34);
    border: 10px groove rgb(139, 96, 31);
    border-radius: 20% 120% 20% 120%;
    opacity: 0.5;
}
.div5:hover{
    background: rgb(156, 34, 160);
    border: 10px inset rgb(83, 14, 85);
    border-radius: 120% 20% 120% 20%;
    opacity: 0.5;
} 
.div6:hover{
    background: rgb(19, 66, 104);
    border: 10px ridge rgb(55, 68, 138);
    border-radius: 120% 120% 120% 120%;
    opacity: 0.9;
}